[submodule "fuse/libfuse"]
	path = fuse/libfuse
	url = https://github.com/pzoxiuv/libfuse.git
	branch = f3
[submodule "openwhisk"]
	path = openwhisk
	url = https://github.com/pzoxiuv/openwhisk.git
	branch = f3
