[submodule "libfuse"]
	path = libfuse
	url = https://github.com/libfuse/libfuse.git
[submodule "fuse/libfuse"]
	path = fuse/libfuse
	url = https://github.com/libfuse/libfuse.git
[submodule "openwhisk"]
	path = openwhisk
	url = https://github.com/pzoxiuv/openwhisk.git
	branch = f3
